@import url(/scss/equipo.scss);
.container-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100vh;
    height: 100vh;
    left: 0px;
    top: 96px;
    background: #FFFFFF;
    .container-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 70px;
        position: static;
        width: auto;
        height: 100vh;
        flex: none;
        order: 0;
        flex-grow: 1;
        margin: 0px;
        background-color: blue;
    }
    .container-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 70px;
        position: static;
        width: auto;
        height: 100vh;
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px;
        background-color: brown;
    }
}