
/* html {  así seteo que 1 rem sean 10px
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */

*{ /* Siempre al empezar el CSS */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif, 'Cabin', sans-serif;
}
html, body {
    overflow-x: hidden;
}

h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
} 
h2{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}
h3{
    font-family: Raleway Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}
H4{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
.subtitle{
    font-family: Raleway Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.label{
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.body20{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.body16{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.caption{
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
a{
    text-decoration: none;
}

/* SECTION 1 */
.hero{
    z-index: 0;
    overflow: hidden;
}
.container-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

}
.pattern-bg{    
    background-image: url(/img/x\ pattern.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: fadein 1s ease;

    }

.container-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 50vw;
    height: 100%;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    animation: fadein 1.2s ease;
}
.container-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 50vw;
    height: 100%;

    left: 720px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    animation: fadein 1.5s ease;

}
.container-txt h1{
    position: static;
    width: 554px;
    height: 168px;
    left: 83px;
    top: 272px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

}
.line-hero{
    position: absolute;
    width: 1440px;
    height: 572px;
    left: 0px;
    top: 96px;
    animation: movein 2.5s ease;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes movein{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }     
}


/* SECTION #2 */
.container-img-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 720px;
    height: 712px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    background-image: url(/img/office-5.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    }

.container-txt-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
     position: static;
    width: 720px;
    height: 712px;
    left: 720px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.container-txt-2-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.container-txt-2 h2{
    position: static;
    width: 580px;
    height: 141px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    text-align: right;
}
.container-txt-2 a{
    align-items: flex-end;
}    

/* SECTION 3 ESPECIALIDADES */
.container-img-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 720px;
    height: 712px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    background: url(/img/ux3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:contain;
    }

.container-txt-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
     position: static;
    width: 720px;
    height: 712px;
    left: 720px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    color: #FFFFFF;
}

.cta-3{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}
.especilidad-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 32px;
}
.especilidad-list a{
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.especilidad-list i{
    margin-right: 16px;
}
.especilidad-list a:hover{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 40px;
    color: white;
}

.purple-bg{
    background: linear-gradient(135deg, #6044D0 0%, #4D36A6 100%);
}

/* SECTION #4 */
.hero-brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.container-brands h2{
    color:#130E2A;
    text-align: center;
}

.container-brands p{
    margin-top: 20px;
    color:#393648;
    text-align: center;}

.icons-brands{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    margin-top: 100px;
}

.icons-brands i{
    font-size: 100px;
    color:#9A9A9A;
    transition: 0.3s ease-in-out;
}
.icons-brands i:hover{
    color: #6044D0;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.10));
}



    /* NAV */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 30px 70px;
    z-index: 10;
    background: transparent;
    overflow: hidden;
}
.navlogo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.navlogo img{
width: 109.49px;
height: 37px;
left: 60px;
top: 33.5px;
}

.navlinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;
}
.navlinks a{
    font-family: Cabin;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #393648;
    -webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
    padding: 8px 15px;
    border-radius: 20px;
}

.navlinks a:hover{
font-weight: bold;
background-color: rgba(255, 255, 255, 0.075);
}
.activenavlink{
    font-weight:900;
    text-decoration: underline;
}

.navcta{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    background: linear-gradient(135deg, #6044D0 0%, #4D36A6 100%);
    border-radius: 6px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
    cursor: pointer;
}
.navcta a{
    color: #FFFFFF;
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
.icon-burger {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 3;
    opacity: 0;

}
.icon-burger .line {
	width: 30px;
	height: 5px;
    background: linear-gradient(135deg, #6044D0 0%, #4D36A6 100%);
	margin: 5px;
	border-radius: 3px;
}

@media screen and (max-width: 720px) {
    .navlogo{
       align-items: center;
   }
   .navlinks, .navcta{
       display: none;
   }
   .navbar{
       justify-content: space-between;
   }
   .icon-burger{
       opacity: 1;
   }
    
}

#home{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
#servicios{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}
#proyectos{
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 10px;
}
#equipo{
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 10px;
}

/* COLORES */
.primary-00{
    background: #6044D0;
}

/* CTAs */
.cta-pde{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    background: #6044D0;
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #FFFFFF;
    transition: 0.3s;
}
.cta-pde:hover{
    background: #3A297D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: white;
}
.cta-sde{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #6044D0;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6044D0;
    transition: 0.3s;
}
.cta-sde:hover{
    background: #6044D0;
    border: 1px solid #6044D0;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.CTA:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 0px 10px 0 rgba(0,0,0,0.19);
}
.CTA_secundario{
    display: block;
    text-align: center;
    padding: 24px 16px;
    color: #181C3D;
    width: 10%;
    border-radius: 10px;
    border: #181C3D solid 1px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.CTA_secundario:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 0px 10px 0 rgba(0,0,0,0.19);
}

/* COMMON */
/* MAIN SECTIONS */
.heroimg{
    width: 100%;
    height: 100%;
}
.titleContainer{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.spanPurple{
    background: linear-gradient(135deg, #6044D0 0%, #4D36A6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta3{
    font-family: Raleway Medium;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-decoration: underline;
    color: #6044D0;
}

/* HERO HOME */
.hero{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* SOBRE NOSOTROS HOME */
.sobreNosotros{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#cta-nosotros{
    width: auto;
    display: flex;
    margin-top: 50px;
}
#nosotrosContainer{
display: flex;
align-items: flex-start;
}



/* FOOTER */
#footer{
    background: #130E2A;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 70px;
    left: calc(50% - 1440px/2);
    bottom: 0px;
}
#footer h2{
    color: #FFFFFF;
}
#footer h4{
    color: #6044D0;
}
#footer .label, .subtitle, h3{
    color: #FFFFFF;
}

#top-row-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
     padding-top: 10px;
    padding-bottom: 100px;
}
#linksFooter{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
#fiveLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#fiveLinks a{
    margin-bottom: 10px;
}

#oficinas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#linksOficinas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
#linksOficinas a{
    margin-bottom: 10px;
}

#trabajaEnUxo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
}
#trabajaEnUxo a{
    margin: 6px 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

#oficinas, #trabajaEnUxo{
    margin-left: 100px;
}

#followFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#followFooter h4{
    order:0;
}
.redes-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.redes-contact i{
    color: white;
    font-size: 30px;
}
#followFooter a{
    order:2;
}
#followFooter h3{
    order:3;
}

#bottomrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#awardsFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
}
#awardsFooter img{
    margin-right: 30px;
}

.spaceImg{
    margin-left: 50px;
}

@media screen and (max-width: 1110px){
    #topRow, #linksFooter, #fiveLinks, #linksOficinas, #trabajaEnUxo, #followFooter{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    
}
@media screen and (max-width: 768px) {
    #bottomrow, #awardsFooter, .spaceImg{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    
}

.container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
    padding: 100px;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-item:hover .image img{
    transform:scale(1.05);
}



.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}


@media screen and (max-width:768px){
    .container{
        grid-template-columns: repeat(1,1fr);
        padding: 20px 30px;
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column:span 1;
    }
}
@media screen and (max-width:768px){
    .container{
        grid-template-columns: repeat(1,1fr);
        padding: 20px 30px;
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column:span 1;
    }
}



/* FORM */

form{
    font-family: 'raleway', sans-serif;
}

input[type=text], input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    background-color: #f8f8f8;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus{
    border: 1px solid rgb(202, 202, 253);
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    margin: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
  }

textarea:focus{
    border: 1px solid rgb(202, 202, 253);
}

select {
    width: 50%;
    padding: 16px 20px;
    margin: 20px;
    border: none;
    border-radius: 35px;
    background-color: #f8f8f8;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #181C3D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Cabin', sans-serif;
  }
input[type=checkbox]{
    margin: 8px;
}

/* SECCIÓN - SERVICIOS */
#servContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}
.servRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    margin: 40px 0px;
}
.servCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    margin: 0px 40px;
}
.titleCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

/* SECCIÓN - PROYECTOS */
.project-card-row-1{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px 70px;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    left: calc(50% - 420px/2 - 440px);
    top: calc(50% - 392px/2);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
    border-radius: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 20px;
}
.project-card span{
    background: url(/img/team02.png) no-repeat center / cover;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    left: 0px;
top: 0px;
width: 420px;
height: 200px;
left: 0px;
top: 0px;
}
.project-card .content-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;
    background: #FFFFFF;
    width: 420px;
height: 192px;
left: 0px;
top: 200px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}


/* SECCION - CONTACTO */

.body-contacto{
    background: linear-gradient(135deg, #6044D0 0%, #4D36A6 100%);
}
.body-contacto nav a{
    color: white;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    margin-bottom: 70px;
}
.info-contacto{
    display: flex;
    flex-direction: column;
}
.contact-directions{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
.contact-directions :first-child{
    margin-right: 30px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 45px;
    
    position: static;
    width: 513px;
    height: 532px;
    left: 857px;
    top: 0px;
    
    /* Neutral / 0 */
    
    background: #FFFFFF;
    border-radius: 10px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    
}